@import "vars";
@import "fonts";
@import "mixins";
@import "plugins";
@import "sliderBtn";

* {
    outline: none;
    box-sizing: border-box;
}

html {
    position: relative;
}

h1 {
    padding: 0;
    margin: 0;
    text-align: left;

    font-size: 56px;
    font-family: $Bebas;
    font-weight: 400;
    color: $grey;

    @include below($md-desktop) {
        font-size: 48px;
    }

    @include below($lg-tablet) {
        font-size: 44px;
    }

    @include below($md-tablet) {
        font-size: 32px;
    }

    @include below($lg-mobile) {
        font-size: 28px;
    }

}

h2 {
    padding: 0;
    margin: 0;

    font-size: 38px;
    font-family: $Bebas;
    font-weight: 400;
    color: $grey;


    @include below($md-desktop) {
        font-size: 34px;
    }

    @include below($lg-tablet) {
        font-size: 28px;
    }

    @include below($md-tablet) {
        font-size: 24px;
    }

    @include below($lg-mobile) {
        font-size: 20px;
    }
}

h3 {
    padding: 0;
    margin: 0;

    font-size: 28px;
    font-family: $Bebas;
    font-weight: 400;
    color: $grey;


    @include below($md-desktop) {
        font-size: 24px;
    }

    @include below($lg-tablet) {
        font-size: 20px;
    }

    @include below($md-tablet) {
        font-size: 16px;
    }

    @include below($lg-mobile) {
        font-size: 12px;
    }
}

figure {
    margin: 0;
}

body {
    position: relative;
    display: flex;
    max-height: 1000000px;
    flex-direction: column;
    margin: 0;
    padding: 0;

    font-family: $Roboto;
    font-size: 14px;
    font-weight: 300;
    color: $greyLight;
    background-color: #fff;
}

p, li, ul, a {
    margin: 0;
    font-size: 16px;
    font-weight: 300;

    @include below($md-desktop) {
        font-size: 16px;
    }

    @include below($lg-tablet) {
        font-size: 14px;
    }

    @include below($md-tablet) {
        font-size: 14px;
    }

    @include below($lg-mobile) {
        font-size: 12px;
    }
}

a {
    text-decoration: underline;

    outline: none;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li, ul {
    cursor: default;
    padding: 0;
    margin: 0;
}

button {
    border: 0;
    background: none;
    box-shadow: none;
    cursor: pointer;

    padding: 0;
}

input {
    text-overflow: ellipsis;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: none;
}

.wide-container {
    max-width: 1565px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include below($md-desktop) {
        max-width: 100%;
        padding: 0 40px;
    }

    @include below($lg-tablet) {
        padding: 0 30px;
    }

    @include below($md-tablet) {
        padding: 0 20px;
    }

    @include below($lg-mobile) {
        padding: 0 15px;
    }
}

.container {
    max-width: 1175px;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    @include below($md-desktop) {
        max-width: 1000px;
    }

    @include below($lg-tablet) {
        padding: 0 30px;
    }

    @include below($md-tablet) {
        padding: 0 20px;
    }

}

.items-container {
    max-width: 1565px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: $md-desktop) {
        max-width: 1266px;
    }

    @media screen and (max-width: $lg-tablet) {
        padding: 0 30px;
        max-width: 100%;
    }

    @media screen and (max-width: $md-tablet) {
        padding: 0 20px;
    }

    @media screen and (max-width: $lg-mobile) {
        padding: 0;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}



//animations
.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

#__nuxt {
    display: flex;
    flex-grow: 1;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-height: 100%;
    }
}

#__layout {
    flex-grow: 1;
    max-width: 100%;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}