.swiper-pagination-bullets {
    display: flex;
    justify-content: center;

    padding: 7px 0 7px 0;
    width: 100% !important;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;

    margin: 0 6px !important;
    opacity: 1;
    border: 1px solid #727271;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);


}

.swiper-pagination-bullet-active {
    background-color: $red;
}

.swiper-pagination-bullet-active-prev {
    transform: none;
}
