// fonts
$GothamPro: 'Gotham Pro', Arial, sans-serif;
$Roboto: 'Roboto', Arial, sans-serif;
$Montserrat: 'Montserrat', Arial, sans-serif;

// Text size
$sxs-font-size: 12px;
$xs-font-size: 13px;
$sm-font-size: 14px;
$md-font-size: 16px;
$lg-font-size: 18px;
$xl-font-size: 20px;

$head-sm-size: 22px;
$head-md-size: 24px;
$head-lg-size: 28px;
$head-xl-size: 36px;

// responsive vars
$lg-desktop: 1920px;
$md-desktop: 1440px;
$lg-tablet: 1024px;
$md-tablet: 768px;
$lg-mobile: 480px;
$md-mobile: 360px;

// colors
$white: #FFFFFF;
$black: #000000;
$mainGreen: #3AA18E;
$additionalGreen: #75BCAF;
$mainText: #3D4248;
$additionalText: #747678;
$mainBg: #F0F2F6;
$red: #DB5246;
$formBorder: #C7CACD;
$borderColor: #DADEE3;
$hoverColor: #44BFA8;

// parallax slider
$paralaxAutoplay: 10s;



